/* Global Styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  max-width: 800px;
  margin: 0;
  padding: 20px;
}

/* Using Grid to layout emoji cards */
.emojis {
  display: grid;
  grid-template: auto / 50% 50%;
  gap: 10px;
}

/* Using Flex to layout content inside emoji cards */
.emoji {
  border: 1px solid black;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.emoji p {
  flex-grow: 1;
}

/* Emoji icon styles */
.icon {
  font-size: 4rem;
  order: -1;
  margin: auto;
}

/* Button styles */
.emoji a {
  color: white;
  text-decoration: none;
  background-color: #781baa;
  padding: 1rem;
  border-radius: 8px;
  margin-top: auto;
}
